:root {
    /* neumorphism */
    --neumorphic-bg: #eff0f4;
    --dark-heavy-green: #004044;
    --dark-heavy-purple: #373651;

    --border-radius-basic: 0.5rem;
    --outer-shadow: 3px 3px 3px #d0d0d0,
                    -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0,
                    0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0,
                    inset -3px -3px 3px #f8f8f8;


    /* glassmorphism
    --glassmorphism-bg: linear-gradient(to right top, #65dfc9, #6cdbeb);*/
    --glassmorphism-bg: #161623;
    --glassmorphism-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5),
                            -1px -1px 2px #aaa,
                            1px 1px 2px #555;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', 'Montserrat', sans-serif, arial;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.neumorphism-bg {
    background: var(--neumorphic-bg);
}

.glass-bg {
    background: url('https://www.hackthebox.eu/images/landing/landing-pattern.png');
    height: 100%;
    width: 100%;
}

header {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 2%;
    right: 2%;
}

ul {
    list-style: none;
}

a {
   text-decoration: none;
 }

.title {
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    margin: 2rem 0;
}

.neumorphism-bg .title {
    color: var(--dark-heavy-green);
    text-shadow: var(--outer-shadow);
}

.glass-bg .title {
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
}

.card-title {
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
}

.neumorphism-bg .card-title {
    color: var(--dark-heavy-purple);
    text-shadow: var(--outer-shadow);
}

.glass-bg .card-title {
    margin-top: 1rem;
    color: #a5b1c2;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.countdown, .countdown-text {
    text-align: center;
}

.countdown h3 {
    margin: auto;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-basic);
}


.neumorphism-bg .countdown h3 {
    color: var(--dark-heavy-purple);

    text-shadow: var(--outer-shadow);
    box-shadow: var(--inner-shadow);
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.mb0 {
    margin-bottom: 0;
}

.ml5 {
    margin-left: 5rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt3 {
    margin-top: 3rem;
}
.mt3-imp {
    margin-top: 3rem !important;
}

.mt6 {
    margin-top: 6rem;
}

button {
    border: 1px solid transparent;
}

.button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.glass-bg .button {
    background:  #f0f;
    color: var(--glassmorphism-bg);
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out;
}

.glass-bg .button:hover {
    background:  transparent;
    border: 1px solid #f0f;
    color: #f0f;
}

.glass-bg p {
    color: #dfe4ea;
}

.neumorphism-bg .button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--dark-heavy-green);
    font-size: 1rem;
    font-weight: 600;
    box-shadow: var(--outer-shadow);
    transition: all 1s ease-in-out;
}

.neumorphism-bg .button:hover {
    box-shadow: var(--inner-shadow);
    cursor: pointer;
}

.popup {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    padding: 80px 20px;
    opacity: 0;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
    backdrop-filter: blur(50px);
}

.neumorphism-bg .popup {
    border: 2px solid var(--dark-heavy-purple);;
    background: var(--neumorphic-bg);
}

.popup > p {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup.active {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup.active > p {
    top: 0;
    opacity: 1;
    transition: all 300ms ease-in-out 300ms;
}

.popup.active .button {
    opacity: 1;
    transition: all 300ms ease-in-out 400ms !important;
}

/* glassmorphism design */

.glass-bg .cards h3 {
    /*background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));*/
    color: #778ca3;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
}




@media screen and (min-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .glass-bg .title {
        font-size: 2.5rem;
    }

     .countdown h3 {
        height: 8rem;
        width: 8rem;
        font-size: 3rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .popup {
        max-width: 30rem;
    }
}